import React from "react";
import { withDesign } from "storybook-addon-designs";
import { Story } from "@storybook/react/types-6-0";
import { {{pascalCase name}}, {{pascalCase name}}Props } from "./{{pascalCase name}}";

export default {
  title: "Component/{{pascalCase name}}",
  component: {{pascalCase name}},
  decorators: [withDesign],
  argTypes: {},
  {{#if imageUrl}}
  parameters: {
    design: {
      type: '{{imageType}}',
      url: '{{imageUrl}}',
    },
  },
  {{/if}}
};

const Template: Story<{{pascalCase name}}Props> = (args) => {
  return (
    <div>
      <{{pascalCase name}} {...args} />
    </div>
  );
};

export const Basic = Template.bind({});
Basic.args = {
  label: "{{pascalCase name}}",
};
